.main-links {
  color: gray;
  border: 5px 5px;
}

.links-item:link {
  color: blue;
  border: 5px 5px;
}

.links-item:visited {
  color: blue;
  border: 5px 5px;
}

.links-item:hover {
  color: red;
  border: 5px 5px;
}

.links-item:active {
  color: green;
  border: 5px 5px;
}
